<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doorbell_user.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC8D49311E9E1B9B00EEBAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8D494D1E9E1B9C00EEBAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8D49581E9E1B9C00EEBAB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
